@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

@import "tailwindcss";

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html,
body {
  background-color: black;
  /* font-family: Quintessential, sans-serif; */
  color: white;
}
